header, body {
    font-family: 'Lato', sans-serif;
}

.navbar-header h3, .navbar-header h4 {
    color: white;
    font-size: 14px;
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 2px;
}

#nav-toggle {
    float: right;
    display: none;
    font-size: 2em;
    color: white;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .navbar-nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav_item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    .nav_menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }

}

.container >div {
    padding-top: 51px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

#aboutMe {
    background-color: rgb(57, 93, 122);
    color: white;
    padding-top: 51px;
    text-align: center;
/*    margin-left: -120px;
    margin-right: -120px;*/
}

#aboutMe .description {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 88px;
    margin-left: 0;
    margin-right: 20px;
}

#aboutMe img {
    margin-bottom: 20px;
}

#projects {
    padding-top: 51px;
}

#projects h2 {
    padding-bottom: 20px;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  display: inline-block;
  width: 2em;
  font-size: 16px;
}

footer {
    background-color: rgb(15, 48, 76);
    color: white;
    padding-bottom: 14px;
    padding-top: 1px;
/*    margin-left: -120px;
    margin-right: -120px;*/
}

footer a {
    font-size: 16px;
}
