header, body {
    font-family: 'Lato', sans-serif;
}

.navbar-header h3, .navbar-header h4 {
    color: white;
    font-size: 14px;
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 2px;
}

.container {
    margin-top: 51px;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  display: inline-block;
  width: 2em;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}