@media screen and (max-width: 767px) {
    .navbar-nav {
        z-index: 10;
        background-color: #212121;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-350px, 0);
        transform: translate(-350px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .navbar-nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav-item {
        display: list-item;
        border-bottom: 1px;
        width: 100%;
        text-align: left;
    }
    .nav-menu {
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 0.5em;
        padding-top: 10px;
    }
    .front-page-image {
        width: 100%;
        height: auto;
    }
    #header-text {
        margin-top: 139px;
        font-size: 4em;
    }
    .project-1 img {
        width: 100%;
        height: auto;
    }

    .project-2 img {
        width: 100%;
        height: auto;
    }

    .project-3 img {
        width: 100%;
        height: auto;
    }

    .project-4 img {
        width: 100%;
        height: auto;
    }

    .portrait img {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    #header-text {
        font-size: 4em;
        margin-top: 184px;
    }
    .front-page-image {
        height: 549px;
    }
}

@media screen and (max-width: 397px) {
    #header-text {
        font-size: 4em;
        margin-top: 0;
    }
    .front-page-image {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 398px) and (max-width: 840px) {
    .front-page-image {
        width: 100%;
        height: auto;
    }
    #header-text {
        font-size: 4em;
        margin-bottom: 156px;
    }
}